&timers4 {
	status = "okay";
	pwm2: pwm{
		status = "okay";
		/* Using TIM3 (16-bit) independent channel 1 connected to pin pa6 on the board */
		pinctrl-0 = <&tim3_ch1_pa6>;
		pinctrl-names = "default";
	};
};
